footer
  a(href='http://twitter.com/__Special__K_')
    img.social-icon(src='/static/img/twitter-foot.png', alt='Twitter Logo')
  a(href='http://facebook.com')
    img.social-icon(src='/static/img/facebook-foot.png', alt='Facebook Logo')
  p © 2019 Adam Kauffman

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script.
    var genericTitle = true;
    title="#{title}";
   
    if (title === "Profile" || title === "logged out"){
     name="#{name}" + "<<->>" + "#{treehousename}" + "<<->>" + "#{quote}";
        }   
    

script(src='/static/javascript/flikr.js')
script(src='/static/javascript/badges.js') 
