header.main-header
    h1#logo
        a(href='/') Adam Kauffman
    nav.main-nav
        ul
            li
                a(href='/') Home
            li
                a(href='/flickrList') Flickr List
            li
                a(href='/profile') My Profile
            if !currentUser
                li
                    a(href='/register') Sign Up
    if currentUser
        button.logoutbtn(onclick="location.href='/logout'") Logout
    else 
        button.loginbtn(onclick="location.href='/login'") Login