doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{title} | Adam Kauffman Proj 
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body
        include inc/header.pug
        block content
        include inc/footer.pug