extends layout.pug

block content
    #header
    #flashMessage
        | Searching...
    h1#myHeading Flickr List
    p
        | Feel free to create your own flickr list! Change the title, add items, then click the name to display pictures from Flickr.
    button#toggleList Hide list
    .list
        p.description Flickr List:
        input.description(type='text')
        button.description Change list description
        ul#crud-list
            li Thanos
            li Laddu
            li Skateboard
            li Can
    form.additem(action='/flickrList', method='post')
        input.addItemInput(name='litem' type='text')
        button.addItemButton(type='submit') Add item
    #temp-gallery

