extends layout

block content
    h1 Login
        // register form
    form.login(method='POST' action='/login')
        div
            label(for='email') Email:
            input#email(type='email', placeholder='name@email.com' name='email')
        div
            label(for='pw') Password:
            input#pw(type='password' name='password')
        button.loginbtn(type='submit') Log in