extends layout

block content
    h1
        | #{name}
    h2.quote Quote:
    |" #{quote} " - #{name}
    hr
    h3 Update Info:
    div.profilepage
        form.update(action='/update', method='post')
            div
                label(for='name') Name:
                input#name(type='text', placeholder='new name' name='name')
            div
                label(for='quote') Quote:
                input#quote(type='text', placeholder='new phrase' name='quote')
            div
                label(for='treehouse') Treehouse Account (optional):
                input#treehouse(type='text', placeholder='username' name='treehouse')
            div
                label(for='email') Confirm Email:
                input#email(type='email', placeholder='current@email.com' name='email')
            div
                label(for='pw') Current Password:
                input#pw(type='password' name='password')
            div
                label(for='pw2') Confirm Password:
                input#pw2(type='password' name='confirmPassword')
            button.updatebtn(type='submit') Update 
        form.delete(action='/delete', method='post')
            div
                label Delete Account:
                    input(type='text', name= 'email', placeholder='current@email.com')
                button.deletebtn(type='submit') Delete 