extends layout

block content
    h1 Sign Up
    p signing up helps me keep track of people who are intrested in my services after viewing my treehouse credentials. Sign up if you like what you see or just for fun. Either way you will have an account to interact with my site a little further. It can always be deleted!
        // register form
    form.signup(method='POST' action='/register')
        div
            label(for='name') Name:
            input#name(type='text', placeholder='first and last' name='name')
        div
            label(for='email') Email:
            input#email(type='email', placeholder='name@email.com' name='email')
        div
            label(for='quote') Quote:
            input#quote(type='text', placeholder='phrase here' name='quote')
        div
            label(for='treehouse') Treehouse Account (optional):
            input#treehouse(type='text', placeholder='username' name='treehouse')
        div
            label(for='pw') Password:
            input#pw(type='password' name='password')
        div
            label(for='pw2') Confirm Password:
            input#pw2(type='password' name='confirmPassword')
        button(type='submit') Sign up