/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}

/* ================================= 
  Base Layout Styles
==================================== */


/**********************************
NAVIGATION
***********************************/
.main-header{
    display:flex;
    border-bottom: solid;
}

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a, header h1 a {
  font-weight: 800;
  padding: 15px 10px;
  text-decoration: none;
  color: cyan;
}


/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.main-footer {
	text-align: center;
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	background: #d9e4ea;
	padding: 5em 0;
	margin-top: 30px;
}
/*********************************
CRUD LIST MESSAGE
**********************************/
#flashMessage, #flashError {
    color: white;
    background-color: #dcdcdc;
    padding: 15px;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 40px;
}
#flashError{
    background-color: red;
}
/**********************************
GALLERY
***********************************/
#gallery-style {    
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
#gallery{
    list-style: none;
      max-width: 60%;
}
#gallery li {
  float: left;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
    width: 200px;
    height: 200px;
}
#gallery li img{
    width:  100px;
    height: 100px;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}
.card-style{
    background-color: aqua;
    color: aqua;
    height: 100%;
}
/**********************************
PROFILE-INFO
***********************************/
#profile-info{
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    margin: 30px 50px;
    border: solid black;
    border-width: 4px;
    float: right;
    max-width: 25%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #63B8FF;
    text-align: center;
}
#profile-info h6{
    margin: 0;
    
    background-color: black;
    color: white;
}
#profile-info img{
  margin: 0 auto 30px;
  border-radius: 100%;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border: 3px solid #4682B4;
}

#profile-name {
  color: grey;
  font-size: 18px;
  margin: 0;
    padding: 0;
}

  a {
    text-decoration: none;
    color: cyan;
    padding: 0;
}
#points-left{
    max-width: 50%;
    float:left;
}
#points-right{
    max-width: 50%;
    float:right;
}
#profile-info ul   {
    list-style: none;
        margin: 0;
        padding-right:60px;
}

#profile-info ul p{
    font-size: 8px;
}

#profile-button {
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  background-color: #000;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#profile-button:hover, a:hover {
  opacity: 0.7;
}

/**********************************
CRUD LIST
***********************************/

h1 {
  margin-bottom: 0;
}
h1 + p {
  font-size: 1.08em;
  color: #637a91;
  margin-top: .5em;
  margin-bottom: 2.65em;
  padding-bottom: 1.325em;
  border-bottom: 1px dotted;
}

input,
button {
  font-size: .85em;
  padding: .65em 1em;
  border-radius: .3em;
  outline: 0;
}
input {
  border: 1px solid #dcdcdc;
  margin-right: 1em;
}
.list {
  margin-top: 2.8em;
  padding: .45em 2.65em 3em;
  border-top: 1px dotted #637a91;
}
p.description,
p:nth-of-type(2) {
  font-weight: bold;
}

#crud-list {
  padding-left: 0;
  list-style: none;
}
#crud-list li {
  padding: .45em .5em;
  margin-bottom: .35em;
  display: flex;
  align-items: center;
}
/*================================
FLICKR GALLERY
=================================*/
#temp-gallery{
    margin: auto;
    width: 70%;
}
#temp-gallery ul{
    display: flex;
    flex-flow: wrap;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
#temp-gallery ul li {
    list-style-type: none;
}
#temp-gallery ul li img{
    width: 200px;
    height: 200px;
}
/**********************************
BUTTONS
***********************************/
button {
  color: white;
  background: #508abc;
  border: solid 1px;
  border-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}
.updatebtn{
    background: #52bab3;
    margin: 10px;
}
.loginbtn{
    background: #52bab3;
}
.deletebtn{
    background: tomato;
    margin: 10px
}
.logoutbtn{
    background: #768da3;
}
button + button {
  margin-left: .5em;
}
p + button {
  background: #52bab3;
}
.list button + button {
  background: #768da3;
}
.list li button + button {
  background: #508abc;
}
li button:first-child {
  margin-left: auto;
  background: #52bab3;
}
.list li button:last-child {
  background: #768da3;
}
li button {
  font-size: .75em;
  padding: .5em .65em;
}
/**********************************
FOOTER
***********************************/
footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
  background-color: white;
}

footer p {
    margin: 0;
}


.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
/**********************************
sign up page
***********************************/
.signup{
    display: inline-block;
    float: left;
}
.signup input{
    width: 100%;
}
.signup button{
    margin: 10px 10px;
}
/**********************************
sign up page
***********************************/
.login{
    width: 25%;
}

.login input{
    width: 100%;
}
/**********************************
profile page
***********************************/
.update{
    width:  25%;
}
.profilepage input{
    width: 100%;
}
.signup button{
    margin: 10px 10px;
}
.delete{
    border: solid;
    text-align: center;
    display: flex;
     justify-content: center; 
}
.delete div {
   margin: 40px;
}
/* ================================= 
  Media Queries
==================================== */
@media (max-width: 1144px) {
   #temp-gallery{
    margin: auto;
    width: 50%;
}
}
@media (max-width: 900px) {
    #points-left, #points-right{
        float: left;
    }
}
@media (max-width: 710px) {
    .main-header{
    display:block;
    text-align: center;
    background: #3acec2;
    padding: 0;
}
.main-nav {
    display: flex;
    flex-direction: column;
     background: #33afa7;
}
 .main-header button {
   margin: 10px;
}
    .main-nav a {
    padding-top: 0;
}
    h2{
        text-align: center;
    }
}

@media (max-width: 671px) {
    #profile-info{
        display: none;
    }
}
/****************************************************
COLORS
******************************************************/
header {
  background: #63B8FF;
  border-color: #4682B4;
}